NODE_ENV='dev'
PORT=3000

MONGO_URI=""

AWS_ENDPOINT_URL=http://localhost:4566
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

AWS_S3_SOURCE_BUCKET=""

AWS_S3_DESTINATION_BUCKET="hsl"
AWS_S3_REGION="us-east-1"


AWS_VIDEO_BASE_URL="http://localhost:4566/hsl"
AWS_SQS_VIDEO_PROCESSING_COMPLETED_QUEUE_URL=http://localstack:4566/000000000000/video-processing-completed

AWS_GET_PRE_SIGNED_EXPIRE_DAYS=1

CLOUDFRONT_DOMAIN=https://dxxxxx.cloudfront.net
CLOUDFRONT_KEY_PAIR_ID=KXXXXXXXX
CLOUDFRONT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----..."
